/* two sizes available: normal, and thin */

.scrollable-thin,
.scrollable {
  overflow: auto;
}

.scrollable-thin::-webkit-scrollbar-button,
.scrollable::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}


/* definition of normal scrollbar ------------------------*/

.scrollable {
  &::-webkit-scrollbar {
    width: 11px;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-100;
  }

  &:hover::-webkit-scrollbar-thumb {
    @apply bg-gray-200;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300;
  }

  &::-webkit-scrollbar-thumb:active {
    @apply bg-gray-400;
  }
}


/* definition of thin scrollbar ------------------------*/

.scrollable-thin {
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    /* bg-gray-200 */
    background: transparent;
    border-radius: 4px;
  }

  &:hover::-webkit-scrollbar-thumb {
    /* bg-gray-400 */
    background: #9ca3af;
  }
}
